*{
    scroll-padding-top:70px;
}
nav{
    background-color: rgba(0, 0, 0, 0.9);
}
nav .container {
    --bs-gutter-x: 0;
}
nav ul li a{
    position: relative;
}
nav ul li a::before {
    position: absolute;
    content: "";
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-color: #eee;
    width: 0;
    height: 2px;
    transition: 0.5s;
}
nav ul li a:hover::before{
    width: 80%;
}
.bg-image{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.landing{
    background-image: url("image/hero-bg.jpg");
}
.landing .text h1{
    font-size: 4.5rem;
}
.pra{
    font-size: 1.25rem;
    font-weight: 300;
}
.services .box p {
    color: rgb(63, 63, 63);
}
.services .box i, .socail i{
    font-size: 1.5rem;
    border: 10px solid;
    transition: 0.5s;
    border: 10px solid var(--bs-blue);
}
.services .box:hover i ,.socail i:hover{
    background-color: var(--bs-blue);
    border: 10px solid rgb(138 185 255);
    color: #fff;
}
.socail i{
    border: 3px solid var(--bs-blue);
    width: 56px;
    height: 56px; 
    cursor: pointer;
}
.socail i:hover{
    border: 3px solid rgb(138 185 255);
}
@media (max-width:767px) {
    .services .row, .portfolio .row,.blog .row,.about .container{
        width: 90%;
        margin: 0 auto;
    }
    .about img{
        margin-bottom: 2rem
    }
    nav .container {
        --bs-gutter-x: 1.5rem;
    }
    .about .container{
        width: 90%;
        margin: 0 auto;
        padding: 1.5rem!important;
    }
    .blog h6, .icon {
        font-size: 16px;
    }
    .footer .row {
        margin: 0 auto;
        padding: 1rem!important;
    }
    .footer h1{
        margin-top: 3rem;
    }
    .socail i {
        margin-left: 5px;
    }
}
.count{
    background-image: url("image/counters-bg.jpg");
}

.portfolio .box .image img{
    transition: 1s;
}
.portfolio .box:hover .image img{
    transform: scale(1.4);
}
.portfolio .box i{
    cursor: pointer;
}
.heading{
    position: relative;
    padding-bottom: 5px;
}
.heading::before{
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background-color: var(--bs-blue);
    width: 50px;
    height: 5px;
}
.heading h1{
    font-size: 3rem;
    font-weight: bold;
}
swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swipe{
      background-image: url("image/overlay-bg.jpg");
  }
.blog h3 , .blog h6 ,.blog img{
    cursor: pointer;
    transition: 0.5s;
}
.blog img{
    height: 231px;
}
.blog h3:hover , .blog h6:hover{
    color: var(--bs-blue);
}
.blog .caption img{
    width: 32px;
    height: 32px;
}
.footer{
    background-image: url("image/overlay-bg.jpg");
}
::placeholder{
    font-size: 15px;
}
ul{
    list-style: none;
}
.bef::before{
    position: absolute;
    content: "";
    bottom: -5px;
    left: 0;
    background-color: var(--bs-blue);
    width: 24%;
    height: 4px;
}
.navbar-toggler:focus {
border: 3px solid #eee;
transition: 0.2s;
}
@media (max-width:767px) {
    .socail i {
        width: 48px;
        height: 48px;
        font-size: 20px;
    }
    nav ul li a::before {
        left: 0;
    }
    nav ul li a::before:hover {
        width: 50%;
    }
}
.navbar-nav .nav-link .active .navbar-nav{
    color: rgba(255, 0, 0, 0.9);
}
.d-2{
    width: 0;
    height: 0;
   opacity: 0;
   visibility: hidden;
   transition: 1s;
   overflow: hidden;
}
.d-1:hover .d-2{
    visibility: visible;
    width: 100%;
    height: auto;
   opacity: 1;
}
@media (max-width:767px) {
    .d-1:hover .d-2{
       right: 0px!important;
    }
}
.cap {
    transform: translate(-50%,50%);
}
.cap p{
    font-size: 14px;
}
.typ {
    font-size: 1.5rem;
    font-weight: 600;
}
.typ {
    font-size: 2.5rem;
}
#scrollToTop {
    padding: 6px;
    width: 35px;
    height: 35px;
    right: 15px;
    transition: 0.5s;
    opacity: 0;
    transition:all 0.3s ease;
    background: #0d6efd;
    z-index: 99;
}
#scrollToTop.visible {
    opacity: 1;
}
#scrollToTop:hover{
    background: #298eff;
}
.count i{
    width: 85.77px;
    height: 85.77px;
}